header {
  background-color: #43a047;
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
}
.badge {
  position: absolute;
  top: -8px;
  left: -8px;
  background: #1b5e20;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
  place-items: center;
  display: grid;
}

/* ریسپانسیو */
@media(max-width:640px){
  .products { grid-template-columns: 1fr; }
  .cart-btn { padding: 8px 20px; }
}
@font-face {
  font-family: "Vazir";
  src: url("./font/secondary-aviny.css") format("css"),
       url("./font/secondary-aviny.css") format("css");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "aviny", sans-serif;
}
